<h1>  <%= @menu.name %> </h1>

  <% @menu.categories.each do |category| %>
    <fieldset>
      <h2><%= category.name %> </h2> <%= link_to "Edit Category", edit_category_path(category) %>

        <% category.items.each do |item| %>
        <div>
          <%= item.name %> | <%= item.price %><br>
           <%= item.description %>
           <br>
        </div>
          <% end %>

    </fieldset>

    <% end %>
