<h1><%= @item.name %></h1>
  <p><%= @item.description %> </p>
  <p>$<%= @item.price %> </p>
  <p>Average Rating: <%= @item.average_rating %> </p>

  <!-- OPTION TO RATE OR COMMENT ON THIS ITEM -->
  <%= render 'reviews/rate' %>
<br><br>
<!-- DISPLAYS THE COMMENTS ON THIS ITEM -->

<%= render 'comments' %>

<%= authorize(link_to "Edit Item", edit_item_path(@item)) %>
