<%= form_for @category do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_area :name %>
</p>

<p>
  <%= f.label :items %>
  <%= f.collection_check_boxes(:item_ids, Item.all, :id, :name) do |b| %>
  <p><%= b.label %>
     <%= b.check_box %> </p>
  <% end %>
</p>

  <br>
<h3>or create a new item:</h3>
  <%= f.fields_for :items, Item.new do |item_builder| %>
  <%= item_builder.label :name %>
  <%= item_builder.text_area :name %>

  <%= item_builder.label :price %>
  <%= item_builder.text_area :price %>

  <%= item_builder.label :description %>
  <%= item_builder.text_area :description %>

  <% end %>

<br>


  <%= f.submit "Create Category" %>


<% end %>
