<h1><%= @category.name %>:</h1>
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_category_path %>
    <% end %>
  
  <% @category.items.each do |item| %>
  <p>  <%= item.name %> -- <%= item.price %> </p>
  <p>  -<%= item.description %></p>
  <% end %>
