<nav >
  <% if current_user  %>
    <h4>Welcome <%= current_user.email %></h4>
  <% end %>

  <%= link_to "Home", root_path, class: "btn-lg" %>
  <%= link_to "Menus", menus_path, class: "btn-lg" %>
<br>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-lg" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn-lg" %>
  <% end %>

  <% if !user_signed_in? %>
   <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn-lg" %>
  <% end %>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Create A New Menu", new_menu_path, class: "btn-lg" %>
    <%= link_to "Create A New Category", new_category_path, class: "btn-lg" %>
  <% end %>


</nav>
